* {
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

nav ul  {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li {
    flex: 1 1 1fr;
    padding: 0.7em;
    align-self: flex-end;
    
}
.logo {
    flex: 2 1 100%;
    text-align: center;
    order: 0;
}

@media (min-width:550px){
nav ul li {
    
    align-self: flex-end;
    
}
nav ul li.logo {
    flex: 1 1 auto;
    order: 2;
}

nav ul li.typography{
    order: 0;
}

nav ul li.ui{
    order: 1;
}

nav ul li.branding{
    order: 3;
}

nav ul li.graffiti{
    order: 4;
}

}

@media (min-width: 900px) {
    nav ul li {
        align-self: center;
        padding: 3em;
    }
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2em;
}
 section div {
     padding: 0.7em;
     flex: 1 1 150px;
 }